/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

body {
	background: #111;
	color: #fafafa;
	font-family: monospace;
	padding-bottom: 5em;
}

a {
	color: #426DA9;
}

a:hover {
	color: #2C5697;
}

h1 {
	font-size: 3em;
	line-height: 1.5em;
	margin: 0.5em 0;
}

h3 {
	font-size: 1.8em;
	line-height: 1.8em;
}

.slogan {
	text-align: center;
}

.slogan__info {
	font-size: 1.5em;
	font-style: italic;
}

.banner {
	text-align: center;
	font-size: 3em;
}

.banner pre {
	margin: 1.2em 0 1em;
}

.sayhi {
	text-align: center;
}

.sayhi a {
	font-size: 1.5em;
}

.sayhi__social {
	margin: 15px 0;
}

.sayhi__social a {
	text-decoration: none;
}

.sayhi__social svg {
	width: 70px;
	padding: 5px 7px;
	margin: 0 15px;
	fill: #fafafa;
}

.sayhi__social svg:hover {
	background: #fafafa;
	fill: #111;
}

@media (max-width: 800px) {
	body {
		margin: 0 10px;
	}


	h1 {
		font-size: 2em;
		line-height: 1.2em;
		margin: 0.7em 0;
	}

	h3 {
		font-size: 1.3em;
	}

	.slogan__info {
		font-size: 1.3em;
		line-height: 1.5em;
	}

	.banner {
		font-size: 1.6em;
	}

	.sayhi__social svg {
		width: 45px;
	}
}