<footer>
  <div>
    <p>Home of another web developer, built with <a href="https://lumeland.github.io/">Lume</a></p>
    <a href="mailto:spawnenius@gmail.com">spawnenius@gmail.com</a>
  </div>
  <div>
    <p><i>Coffe and code, code and coffe - what else do you need?</i> ☕</p>
  </div>
</footer>
