<section class="cv-personal-info">
  <h3>Details</h3>
  {% if cv.personalInfo.location %}
    <h4>Address</h4>
    <p>{{ cv.personalInfo.location }}</p>
  {% endif %}
  {% if cv.contact.tel %}
    <h4>Phone</h4>
    <p>{{ cv.contact.tel }}</p>
  {% endif %}
  {% if cv.contact.email %}
    <h4>Email</h4>
    <a href="mailto:{{ cv.contact.email }}">{{ cv.contact.email }}</a>
  {% endif %}
  {% if cv.personalInfo.birthDate %}
    <h4>Date of birth</h4>
    <p>{{ cv.personalInfo.birthDate | date('HUMAN_DATE') }}</p>
  {% endif %}
  {% if cv.personalInfo.nationality %}
    <h4>Nationality</h4>
    <p>{{ cv.personalInfo.nationality }}</p>
   {% endif %}
</section>

<section class="cv-social-links">
  <h3>Links</h3>
  {% for social in cv.socialLinks %}
    <a href="{{ social.url }}">{{ social.name }}</a>
  {% endfor %}
</section>