@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');

:root {
  --red: #c04;
  --lightgray: #e6e6e6;
  --darkgray: #0d1117;
  --blue: #035096;
  --white: #fff;
  --hoverShadow: drop-shadow(2px 2px 2px var(--blue));
  --footerHeight: 250px;
  --mobileFooterHeight: 375px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Anonymous Pro", Consolas, system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
  height: 100%;
}

.body-home {
  padding: 0;
}

main {
  padding: 0 5vw;
  min-height: calc(100vh - var(--footerHeight));

  & > :first-child {
    margin-top: 0;
  }
}

a {
  color: var(--blue);
}

.download-btn {
  display: inline-block;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  background-color: var(--darkgray);
  color: var(--white);
  font-size: 1.5em;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.download-cv {
  padding-top: 2.2em;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    filter:var(--hoverShadow);
  }
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.5em;
}

table {
  margin: 1em 0;

  & td,
  & th {
    padding-right: 1em;
  }
}

pre,
code {
  font-family: "Anonymous Pro", Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
  font-size: 1rem;
}

hr {
  border: 0;
  border-top: solid 2px var(--lightgray);
  margin: 5vh 0;
}

footer {
  padding: 1em 1.2em 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

/* 
  Media quereis for mobile
*/
@media (max-width:801px) { 
  main {
    min-height: calc(100vh - var(--mobileFooterHeight));
  }

  footer {
    text-align: center;
  }
}