.cv-dark {
  border-bottom: 3px solid var(--lightgray);

  & h1 {
    font-size: 3em;
  }

  & h2 {
    font-size: 1.5em;
    font-weight: normal;
    color: #3d3d3d;
    display: inline-block;
    margin-bottom: 0.5em;
  }

  & h3 {
    text-transform: uppercase;
    font-size: 1.6em;

    &:after {
      content: "";
      display: block;
      width: 2em;
      height: 3px;
      background-color: var(--lightgray);
      margin-top: 0.5em;
    }
  }

  & .cv-initials {
    & .cv-updated-on {
      float: right;
      display: inline;
      padding: 0;
      line-height: 2.5;
    }
  }

  & h4 {
    text-transform: uppercase;
    font-size: 1.2em;
  }

  & section {
    padding-bottom: 0.2em;
  }

  & .grid-area-c {
    padding-bottom: 2.5em;
    padding-left: 2.5em;
  }

  & .grid-area-a {
    border-bottom: 3px solid var(--lightgray);
  }

  & .grid-area-b {
    padding-bottom: 2.5em;
    padding-right: 2.5em;
    border-right: 3px solid var(--lightgray);
  }

  & p, 
  & li {
    line-height: 1.5;
    color: #3d3d3d;
  }

  & .cv-personal-info {
    & h4 {
      margin-bottom: 0.5em;
    }

    & p {
      margin-top: 0.5em;
    }
  }

  & .cv-languages, 
  & .cv-skills {
    & h3 {
      margin-bottom: 0.5em;
    }
  }

  & .resume-item {
    & h4 {
      text-transform: none;
      line-height: 1.5;
      margin-bottom: 0;
    }

    & .resume-item-period {
      font-size: 0.9em;
      margin-bottom: 0.5em;
    }
  }

  & .cv-social-links {
    & a {
      margin: 1em 0 1.5em;
      font-weight: bold;
    }
  }

  & .progress-list {
    flex-direction: column;
    flex-wrap: nowrap;

    & li {
      padding: 0.5em 0;
      flex: 1;
      width: 100%;
      max-width: 100%;
    }

    & .progress-name {
      padding-bottom: 0.5em;
    }
  }
}

/* 
  Media quereis for mobile
*/
@media screen and (max-width:767px) {
  .cv-dark {
    & h1 {
      font-size: 2.5em;
    }

    & h2,
    & h3 {
      margin-top: 0;
    }

    & .grid-area-a {
      border-bottom: none;
    }
  
    & .grid-area-b {
      padding-bottom: 0;
      padding-right: 0;
      border-right: none;
    }

    & section {
      padding-bottom: 0;
      padding: 2em 0 0;
    }

    & .cv-details-box {
      padding-top: 2em;
    }

    & .cv-personal-info {
      margin-top: 2em;
      border-top: 3px solid var(--lightgray);
    }

    & .grid-area-c {
      padding-bottom: 0;
      padding-left: 0;
    }

    & .cv-initials {
      padding-top: 0;
      
      & .cv-updated-on {
        line-height: 1;
      }
    }

    & .cv-social-links {
      & a {
        display: inline-block;
        margin-right: 0.7em;
        margin-bottom: 0.5em;
      }
    }  
  }
}